@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #ccc;
}

:root.dark {
  --bg-color: #3399ff;
}

@layer components {
  .flex-center-between {
    @apply flex flex-wrap items-center justify-between;
  }
}

body {
  font-display: swap;
}

.pagination button.active,
.pagination button:not(:disabled):hover {
  background-color: var(--bg-color);
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
